body{
  display: flex;
  margin-top: 28px;
}

.details{
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  width: 48%;
  position: absolute;
  left: 1%;
  flex-wrap: wrap;
}
p{
  font-size: 20px;
  padding: 20px;
}
.user{
  position: absolute;
  right: 1%;
  width: 48%;
  flex-wrap: wrap;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

button{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 5px;
  margin: 5px;
  color: #fafafa;
  background-color: #00a3cc;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
}

.buttons{
  display: inline-flex;
}
