{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}

  <head>
    <meta charset="utf-8">
    <title>My Complaints</title>
  </head>
  <body>
    <h1> My Complaints </h1>
    <br>
    {% for complaint in complaints %}
      <h3>Token: {{complaint.token}}</h3>
      <ul>
        <li>Complaint: {{complaint.complaint}} </li>
        <li>Department: {{complaint.dept}}</li>
        <li>Stream: {{ complaint.stream }}</li>
        <li>Status: {{ complaint.status}}</li>
        {% if complaint.image %}
          <li><a href ="../media/{{ complaint.image }}" >Attached Image</a></li>
        {% endif %}

        {% if complaint.file %}
          <li><a href= "../media/{{ complaint.file }}">Attatched File</a></li>
        {% endif %}
        <li>Registered on: {{complaint.date}} </li>
        <li>Author: {{complaint.author.username}}</li>
      </ul>
      <hr>

    {% endfor %}

    <form action="{% url 'complaint-registration' %}">
  	    <input type="submit" value="Register Complaint"><br/>
    </form>

    <form action="{% url 'index' %}">
        <input type="submit" value="HOME"><br/>
    </form>

  </body>
{% endblock content %}

</html>
