{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <title>Complaint Details</title>
  </head>



  <body>
    <h1>Complaint Details</h1>
        <h3><b>Token:</b> {{comp.token}}</h3>
        <p><b>Channel:</b> {{ comp.channel }}</p>
        <p><b>Department:</b> {{comp.dept}}</p>
        <p><b>Stream:</b> {{ comp.stream }}</p>
        <p><b>Status:</b>
        {% if comp.status == 'resolved' %}
          Resolved
        {% else %}
          Processing
        {% endif %}
          </p>
        <p><b>Grievance:</b> {{ comp.complaint }} </p>
        <p><b>By</b> {{ comp.author.username }} <b> on </b> {{ comp.date }}</p>
        {% if comp.status == 'resolved' %}
        <p><b>Resolved by:</b> {{comp.resolved_by}}</p>
        <p><b>Resolution:</b> {{comp.resolution}}</p>
        {% endif %}
        {% if comp.image %}
          <a href ="../media/{{ comp.image }}" >Attached Image</a>
        {% endif %}

        {% if comp.file %}
          <a href= "../media/{{ comp.file }}">Attatched File</a>
        {% endif %}





  </body>
{% endblock content %}

</html>
