{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Poppins:500|Montserrat:300|Open+Sans|Roboto|Source+Sans+Pro:300&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="details">
      <h1> Welcome to Grievance Registration Portal</h1>
      <p>The grievance registration portal has been powered by ESD.
        Simply enter any complaint you might have with regards to Mee Seva, T-App
        or T-Wallet along with documents/attached images, if any and we will get back to you within 48 hours.</p>
    </div>

    <div class='user'>
      <p>{% if user.is_authenticated %}
        <h1> Hello, {{user.first_name}} {{user.last_name}} </h1>
            You can check all of your previously registered complaints here.
            Kindly go through the FAQs before you register a complaint.
            <div class="buttons">
              <form action = "{% url 'mycomplaints' %}">
                <button class = "submit">My Complaints</button>
              </form>

              <form action="{% url 'faqs' %}">
                <button class="submit">FAQs</button>
              </form>
            </div>

     {% endif %}
    </p>
    </div>

    <div class='image'>

    </div>


  </body>

{% endblock %}
</html>
