{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
{% block content %}

  <head>
    <meta charset="utf-8">
    <title>My Complaints</title>
    <style type = "text/css">
  .myButton {
    background: #004a7d;
    position: relative;
    top: 20px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    font: 12px Verdana;
    padding: 9px 15px 9px 15px;
    margin-left: 20px;
    font-size: 130%;
  }
  </style>
  </head>
  <body>

    <h1> My profile    </h1>
    <hr>
    <p> First Name: {{details.first_name}} </p>
    <p> Last Name: {{details.last_name}} </p>
    <p> Email: {{details.email}} </p>
    <p> Phone number: {{details.phone}} </p>
    <p> House Number: {{details.housenumber}} </p>
    <p> Locality: {{details.locality}} </p>
    <p> Village: {{details.village}} </p>
    <p> Mandal: {{details.mandal}} </p>
    <p> District: {{details.district}} </p>
    <p> Pincode: {{details.pincode}} </p>
    <a href="edit" class="myButton">Edit profile</a>
    <a href ="edit-password" class="myButton">Change Password</a>

    <hr>
  </body>
{% endblock content %}

</html>
